body {
    color: rgb(138, 230, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}
header {
    padding: 20px 35px;
    background-color: rgb(2, 69, 71);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(138, 230, 230);
}

header a {
    text-decoration: none;
    color: rgb(138, 230, 230);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    position: relative;
    background-size: cover;
    background-position: top;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 80%;
    margin: auto;
}

.intro {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-image: url('IMG_4676 3.JPG');
    background-size: contain;
    background-position: center;
    /* float: left; */
}

.work {
    margin-top: 150px;
    margin-bottom: 70px;
}

.dnd-character-generator {
    background-image: url('/assets/DND.png');
    background-size: cover;
    top: 0;
    height: 300px;
    width: 100%;
    flex: 1 1 auto;
}

.retro-rewind {
    background-image: url('/assets/retrorewind.png');
    background-size: cover;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .wrapper {
        width: 80%;
    }

    .contact {

    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}