body {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    padding: 20px 35px;
    background-color: rgb(238, 204, 54);

    justify-content: space-between;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.hero {

}

.intro {

}

.intro img {
    height: 300px;
    width: 300px;
}