body {
    color: rgb(138, 230, 230);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}
header {
    padding: 20px 35px;
    background-color: rgb(2, 69, 71);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(138, 230, 230);
}

header a {
    text-decoration: none;
    color: rgb(138, 230, 230);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    position: relative;
    background-image: url('../assets/hero.JPG');
    background-size: cover;
    background-position: top;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 80%;
    margin: auto;
}

.intro {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    /* float: left; */
}

.intro img {
    width: 300px;
    height: 350px;
    float: left;
}

.work {
    margin-top: 150px;
    margin-bottom: 70px;
}

/* .run-buddy img { */
    /* float: left; */
    /* width: 450px; */
    /* height: 300px; */
    /* box-align: center; */
/* } */
.run-buddy {
    background-image: url("./runbuddy_cap.png");
}

.password-generator {
    background-image: url(./password.jpg);
}

.robots {
    background-image: url(./robot.jpg);
}

.led {
    background-image: url(./led.jpg);
}